$page.setTitle( "Continuum Schedules" )

<div class="app">
  <div id="h3">
    <h3>Continuum Schedules</h3>
    <table border="1" cellspacing="2" cellpadding="3" width="100%" id="projectSummaryTable">

      <!-- i18n -->
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Active</th>
        <th>Next</th>
        <th colspan="7"></th>
      </tr>

      #set ( $items = $continuum.schedules )

      #foreach ( $item in $items )
      <tr class="$css.nextClass">
        <td>$item.name</td>
        <td>$item.description</td>
        <td>$item.active</td>
        <td>???</td>
        <td><a href="$link.setPage('schedule,ScheduleView.vm').addPathInfo('fid', 'schedule').addPathInfo('id', $item.id)">View</a></td>
        <td><a href="$link.setPage('schedule,ScheduleEdit.vm').addPathInfo('fid', 'schedule').addPathInfo('id', $item.id)">Edit</a></td>
        <td><a href="$link.setPage('schedule,ScheduleDelete.vm').addPathInfo('fid', 'schedule').addPathInfo('id', $item.id)">Delete</a></td>
      </tr>
      #end
    </table>

    <div class="functnbar3">
      <form method="post" action="$link">
        <a href="$link.setPage('schedule,ScheduleAdd.vm').addPathInfo( 'fid', 'schedule')">Add Schedule</a>
      </form>
    </div>
  </div>
</div>
