<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>browse</servlet-name>
    <servlet-class>org.apache.maven.continuum.web.servlet.DownloadServlet</servlet-class>
    <load-on-startup>6</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>repository</servlet-name>
    <servlet-class>org.apache.maven.continuum.web.servlet.RepositoryBrowseServlet</servlet-class>
    <load-on-startup>7</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>continuum</servlet-name>
    <servlet-class>org.codehaus.plexus.summit.Summit</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <!--
  <servlet>
    <servlet-name>XFireServlet</servlet-name>
    <display-name>XFire Servlet</display-name>
    <servlet-class>
        org.codehaus.xfire.plexus.PlexusXFireServlet
    </servlet-class>
  </servlet>
  -->
  <servlet-mapping>
    <servlet-name>browse</servlet-name>
    <url-pattern>/continuum/browse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>repository</servlet-name>
    <url-pattern>/repository/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>continuum</servlet-name>
    <url-pattern>/continuum/*</url-pattern>
  </servlet-mapping>
  <!--
  <servlet-mapping>
    <servlet-name>XFireServlet</servlet-name>
    <url-pattern>/servlet/XFireServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XFireServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  -->
</web-app>