$page.setTitle( "Continuum - Project View: ${item.name}" )

<div class="app">
  <div id="axial" class="h3">
    <h3>$i18n.getString( $form.view.titleKey )</h3>
    <div class="axial">
      <table border="1" cellspacing="2" cellpadding="3" width="100%">
        #foreach ( $element in $form.elements )
        #if ( !$element.immutable )
        <tr class="b">
          <th>$i18n.getString( $element.labelKey )</th>
          <td>$formtool.getItem( $form, $element, $item )</td>
        </tr>
        #end
        #end
    </table>
    <div class="functnbar3">
      <a href="$link.setPage('schedule,ScheduleSummary.vm')">Back to Schedules</a>
    </div>
  </div>
</div>
