## Only show message if errors are available.
## This will be done if ActionSupport is used.
#if( $fieldErrors.get($parameters.name) )
  #set ($hasFieldErrors = $fieldErrors.get($parameters.name))
  #foreach ($error in $fieldErrors.get($parameters.name))
    <tr class="b" errorFor="$parameters.id">
        <th>&nbsp;</th><td><span class="fieldError">$!webwork.htmlEncode($error)</span></td>
    </tr>
  #end
#end
  <tr class="b">
    <th>$!webwork.htmlEncode($parameters.label)#if ($parameters.required)<span class="required">*</span>#end</th>
    <td>