## Only show message if errors are available.
## This will be done if ActionSupport is used.
#if( $fieldErrors.get($parameters.name) )
  #set ($hasFieldErrors = $fieldErrors.get($parameters.name))
  #foreach ($error in $fieldErrors.get($parameters.name))
    <tr errorFor="$parameters.id">
        #if ($parameters.labelposition == 'top')<td align="left" valign="top" colspan="2">#else<td align="center" valign="top" colspan="2">#end<span class="errorMessage">$!webwork.htmlEncode($error)</span></td>
    </tr>
  #end
#end
  <tr class="b">
    <th>$!webwork.htmlEncode($parameters.label)</th>
    <td>