<div id="banner">
  <table border="1" cellpadding="8" cellspacing="0" width="100%">
    <tbody>
      <tr>
        <td>
          <a href="http://maven.apache.org/continuum">
            <img src="$data.getLink("images/continuum_logo_75.gif")" alt="Continuum" title="Continuum" border="0">
          </a>
        </td>
        <td>
          #if ( $continuum.getConfiguration().getCompanyLogo() )
            #if ( $continuum.getConfiguration().getCompanyUrl() )
              <a href="$continuum.getConfiguration().getCompanyUrl()">
            #end
                <img src="$continuum.getConfiguration().getCompanyLogo()" #if ( $continuum.getConfiguration().getCompanyName() ) alt="$continuum.getConfiguration().getCompanyName()" title="$continuum.getConfiguration().getCompanyName()" #end align="right" border="0">
            #if ( $continuum.getConfiguration().getCompanyUrl() )
              </a>
            #end
          #else
            <div align="right">
              <a href="http://maven.apache.org/continuum/">[Your company logo here]</a>
            </div>
          #end
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="breadcrumbs">
  <div style="float: right;">
    <a href="http://maven.apache.org/continuum">Continuum</a> |
    <a href="http://maven.apache.org/">Maven</a> |
    <a href="http://www.apache.org/">Apache</a>
  </div>

  <div>
    #if ( $data.getUser() )
      Welcome, <b>$data.user.fullName</b> - <a href="$link?action=logout">Disconnect</a>
    #else
      Welcome, <b>Guest</b> - <a href="$link.setPage('Login.vm')">Login</a>
    #end
  </div>
</div>
