<div id="banner">
  <table border="1" cellspacing="0" cellpadding="8" width="100%">
    <tbody>
      <tr>
        <td>
          #if ( $continuum.getConfiguration().getCompanyLogo() )
            #if ( $continuum.getConfiguration().getCompanyUrl() )
              <a href="$continuum.getConfiguration().getCompanyUrl()">
            #end
                <img src="$continuum.getConfiguration().getCompanyLogo()" #if ( $continuum.getConfiguration().getCompanyName() ) alt="$continuum.getConfiguration().getCompanyName()" #end border="0">
            #if ( $continuum.getConfiguration().getCompanyUrl() )
              </a>
            #end
          #else
            <a href="http://maven.apache.org/continuum/">
              [Your company logo here]
            </a>
          #end
        </td>
        <td>
          <a href="http://maven.apache.org/continuum">
            <img src="$data.getLink("images/continuum_logo_75.gif")" alt="Continuum" align="right" border="0">
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div id="breadcrumbs">
  <div style="float: right">
    <a href="http://maven.apache.org/continuum">Continuum</a> |
    <a href="http://maven.apache.org/">Maven</a> |
    <a href="http://www.apache.org/">Apache</a>
  </div>

  <div>
    #if ( $data.getUser() )
      Welcome, <b>$data.user.fullName</b>
    #else
      Welcome, <b>Guest</b>
    #end
  </div>
</div>
