#if ( $data.user )
  #set ( $c1user = $continuum.getUser( $data.user.userId ) )
#else
  #set ( $c1user = $continuum.security.getGuestUser() )
#end

<div id="navcolum">
  <div id="projectmenu" class="toolgroup">
    <div class="label">Continuum</div>

    #if ( $continuum.security.isAuthorized( $c1user, "showProject" ) )
    <div class="body">
      <div>
        <a href="$link.setPage('Summary.vm').addPathInfo( 'fid', 'continuumProject')">Show Projects</a>
      </div>
    </div>
    #end
  </div>

  #if ( $continuum.security.isAuthorized( $c1user, "addProject" ) )
  <div id="projecttools" class="toolgroup">
    <div class="label">Add Project</div>

    <div class="body">
      <div>
        <a href="$link.setPage('AddMavenProject.vm').addPathInfo( 'fid', 'addMavenTwoProject')">Maven 2.0+ Project</a>
      </div>
      <div>
        <a href="$link.setPage('AddMavenProject.vm').addPathInfo( 'fid', 'addMavenOneProject')">Maven 1.x Project</a>
      </div>
      <div>
        <a href="$link.setPage('Add.vm').addPathInfo( 'fid', 'antProject')">Ant Project</a>
      </div>
      <div>
        <a href="$link.setPage('Add.vm').addPathInfo( 'fid', 'shellProject')">Shell Project</a>
      </div>
    </div>
  </div>
  #end

  <!--
  <div id="projecttools" class="toolgroup">
   <div class="label">Import Project</div>
   <div class="body">
     <div><a href="$link.setPage('Add.vm').addPathInfo( 'fid', 'importCruiseControlProject')">CC Project</a></div>
     <div><a href="$link.setPage('Add.vm').addPathInfo( 'fid', 'uploadCruiseControlProject')">Upload CC Project</a></div>
   </div>
  </div>
  -->

  #if ( $continuum.security.isAuthorized( $c1user, "manageSchedule" ) || $continuum.security.isAuthorized( $c1user, "manageUsers" ) )
  <div id="projecttools" class="toolgroup">
   <div class="label">Administration</div>
   <div class="body">
     #if ( $continuum.security.isAuthorized( $c1user, "manageSchedule" ) )
     <div><a href="$link.setPage('Schedules.vm').addPathInfo( 'fid', 'schedules')">Schedules</a></div>
     #end
     #if ( $continuum.security.isAuthorized( $c1user, "manageConfiguration" ) )
     <div><a href="$link.setPage('ConfigureContinuum.vm')">Configuration</a></div>
     #end
     #if ( $continuum.security.isAuthorized( $c1user, "manageUsers" ) )
     <div><a href="$link.setPage('UserGroups.vm')">User Groups Management</a></div>
     <div><a href="$link.setPage('Users.vm')">Users Management</a></div>
     #end
   </div>
  </div>
  #end

</div>
