<div id="navcolum">
  <div id="projectmenu" class="toolgroup">
    <div class="label">Continuum</div>

    <div class="body">
      <div>
        <a href="$link.setPage('Summary.vm').addPathInfo( 'fid', 'continuumProject')">Show Projects</a>
      </div>
    </div>
  </div>

  <div id="projecttools" class="toolgroup">
    <div class="label">Add Project</div>

    <div class="body">
      <div>
        <a href="$link.setPage('AddMavenProject.vm').addPathInfo( 'fid', 'addMavenTwoProject')">Maven 2.0+ Project</a>
      </div>
      <div>
        <a href="$link.setPage('AddMavenProject.vm').addPathInfo( 'fid', 'addMavenOneProject')">Maven 1.x Project</a>
      </div>
      <div>
        <a href="$link.setPage('Add.vm').addPathInfo( 'fid', 'antProject')">Ant Project</a>
      </div>
      <div>
        <a href="$link.setPage('Add.vm').addPathInfo( 'fid', 'shellProject')">Shell Project</a>
      </div>
    </div>
  </div>

  <!--
  <div id="projecttools" class="toolgroup">
   <div class="label">Import Project</div>
   <div class="body">
     <div><a href="$link.setPage('Add.vm').addPathInfo( 'fid', 'importCruiseControlProject')">CC Project</a></div>
     <div><a href="$link.setPage('Add.vm').addPathInfo( 'fid', 'uploadCruiseControlProject')">Upload CC Project</a></div>
   </div>
  </div>
  -->

  <div id="projecttools" class="toolgroup">
   <div class="label">Administration</div>
   <div class="body">
     <div><a href="$link.setPage('Schedules.vm').addPathInfo( 'fid', 'schedules')">Schedules</a></div>
   </div>
  </div>

</div>
