<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <display-name>Continuum</display-name>

  <!--
    - Location of the XML file that defines the root application context
    - Applied by ContextLoaderListener.
    -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      /WEB-INF/applicationContext-acegi-security.xml
    </param-value>
  </context-param>

  <context-param>
    <param-name>extremecomponentsResourceBundleLocation</param-name>
    <param-value>localization/Continuum</param-value>
  </context-param>

  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.codehaus.plexus.servlet.PlexusServletContextListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.codehaus.plexus.webwork.servlet.PlexusWebWorkApplicationLifecycleListener</listener-class>
  </listener>

  <listener>
    <listener-class>org.codehaus.plexus.webwork.servlet.PlexusWebWorkSessionLifecycleListener</listener-class>
  </listener>

  <!--
    - Loads the root application context of this web app at startup.
    - The application context is then available via 
    - WebApplicationContextUtils.getWebApplicationContext(servletContext).
    -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <filter>
    <filter-name>Acegi Filter Chain Proxy</filter-name>
    <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
    <init-param>
      <param-name>targetClass</param-name>
      <param-value>org.acegisecurity.util.FilterChainProxy</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>Acegi Filter Chain Proxy</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>webwork</servlet-name>
    <servlet-class>com.opensymphony.webwork.dispatcher.ServletDispatcher</servlet-class>
  </servlet>

<!--
  <servlet>
    <servlet-name>validation</servlet-name>
    <servlet-class>com.opensymphony.webwork.validators.ValidationServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>freemarker</servlet-name>
    <servlet-class>com.opensymphony.webwork.views.freemarker.FreemarkerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
-->
  <servlet>
    <servlet-name>velocity</servlet-name>
    <servlet-class>com.opensymphony.webwork.views.velocity.WebWorkVelocityServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
<!--
  <servlet-mapping>
    <servlet-name>freemarker</servlet-name>
    <url-pattern>*.ftl</url-pattern>
  </servlet-mapping>
-->
  <servlet-mapping>
    <servlet-name>webwork</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>
<!--
  <servlet-mapping>
    <servlet-name>validation</servlet-name>
    <url-pattern>/validation</url-pattern>
  </servlet-mapping>
-->
  <servlet-mapping>
    <servlet-name>velocity</servlet-name>
    <url-pattern>*.vm</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>Index.action</welcome-file>
  </welcome-file-list>

  <taglib>
    <taglib-uri>continuum</taglib-uri>
    <taglib-location>/WEB-INF/continuum.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>sitemesh-page</taglib-uri>
    <taglib-location>/WEB-INF/sitemesh-page.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>sitemesh-decorator</taglib-uri>
    <taglib-location>/WEB-INF/sitemesh-decorator.tld</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>webwork</taglib-uri>
    <taglib-location>/WEB-INF/lib/webwork-2.1.7.jar</taglib-location>
  </taglib>

  <taglib>
    <taglib-uri>/tld/extremecomponents</taglib-uri>
    <taglib-location>/WEB-INF/extremecomponents.tld</taglib-location>
  </taglib>
</web-app>
