## ----------------------------------------------------------------------------
##
## ----------------------------------------------------------------------------

#macro ( field $i18n $data $element $item $formtool )
<th>$i18n.getString( $element.labelKey )</th>

#if ( $fvr && !$fvr.getElementResult( $element.getId()).valid() && $fvr.getElementResult( $element.getId() ).errorMessage )
  #set ( $errorMsg = "&nbsp;&nbsp; [ $fvr.getElementResult( $element.getId() ).errorMessage ] " )
  #set ( $attr = 'style="background-color: #ffffcc"' )
#else
  #set ( $errorMsg = "" )
  #set ( $attr = '' )
#end

<td $attr>
  #set ( $elementData = $formtool.getElementData( $form, $element, $item, $data ) )
  #if ( $element.type == "text" )
    #text( $element $elementData )
  #elseif ( $element.type == "textarea" )
    #textarea( $element $elementData )
  #elseif ( $element.type == "checkbox" )
    #checkbox( $element $elementData )
  #elseif ( $element.type == "hidden" )
    #hidden( $element $elementData )
  #elseif ( $element.type == "password" )
    #password( $element $elementData )
  #elseif ( $element.type == "radio" )
    #radio( $element $elementData )
  #elseif ( $element.type == "upload" )
    #upload( $element $elementData )
  #elseif ( $element.type == "pulldown" )
    #pulldown( $element $elementData )
  #end
  <p>
    $i18n.getString( $element.messageKey ) <font color="red"><b>$!errorMsg</b></font>
  </p>
</td>
#end

#macro ( validateField $fvr $element )
#if ( $fvr && !$fvr.getElementResult( $element.getId()).valid() )
<td class="inputerror">
  <p class="errormark">$fvr.getElementResult( $element.getId() ).errorMessage</p>
</td>
#end
#end

#macro ( bar )
<div class="functnbar3"/>
#end

## ----------------------------------------------------------------------------
##
## ----------------------------------------------------------------------------

#macro ( text $element $elementData )
#if ( $elementData == "" && $element.defaultValue )
#set ( $value = $element.defaultValue )
#else
#set ( $value = $elementData )
#end
#if ( $element && $element.attributes && $element.attributes.size > 0 )
<input type="text" name="$element.id" value="$value" size="$element.attributes.size"/>
#else
<input type="text" name="$element.id" value="$value" size="100"/>
#end
#end

#macro ( textarea $element $elementData )
<input type="text" name="$element.id" value="$elementData" size="100"/>
#end

#macro ( upload $element $elementData )
<input type="file" name="$element.id" value="$elementData" size="100"/>
#end

#macro ( password $element $elementData )
<input type="password" name="$element.id" value="$elementData" size="100"/>
#end

#macro ( radio $element $elementData )
<input type="radio" name="$element.id" value=""/>
#end

#macro ( checkbox $element $elementData )
#if ( $elementData == "" && $element.defaultValue )
#set ( $value = $element.defaultValue )
#else
#set ( $value = $elementData )
#end
<input type="checkbox" name="$element.id" #if( $value == "true" ) checked="checked" #end/>
#end

#macro ( pulldown $element $elementData )
<select name="$element.id">
  #foreach ( $datum in $formDataTool.pulldown( $element.data ) )
    <option value="$datum.name">$datum.value
  #end
</select>
#end

#macro ( imageButton $label )
stuff
#end

#macro ( hidden $name $value )
<input type="hidden" name="$name" value="$value"/>
#end

#macro ( submitBar $labelKey )
<div class="functnbar3">
<input type="submit" value="$labelKey"/>
<input type="button" value="Cancel" onClick="history.back()"/>
</div>
#end


##The Selection Box.

##Active Images.