<?xml version="1.0" encoding="UTF-8"?>

<cruisecontrol>
  <project name="qotd">
    <plugin name="svn" classname="net.sourceforge.cruisecontrol.sourcecontrols.SVN"/>
    <plugin name="svnbootstrapper" classname="net.sourceforge.cruisecontrol.bootstrappers.SVNBootstrapper"/>
    <bootstrappers>
      <currentbuildstatusbootstrapper file="c:/dev/mavenbook/work/cruisecontrol/logs/qotd/status.txt"/>
    </bootstrappers>
    <modificationset>
      <alwaysbuild/>
      <svn repositoryLocation="http://www.mavenbook.org/svn/mdn/code/qotd" localWorkingCopy="c:/dev/mavenbook/work/cruisecontrol/checkout/qotd"/>
    </modificationset>
    <schedule interval="30">
      <maven goal="scm:update|clean qotd:build" projectfile="c:/dev/mavenbook/work/cruisecontrol/checkout/qotd/project.xml" mavenscript="c:\apps\maven-1.0.2/bin/maven.bat"/>
    </schedule>
    <log dir="c:/dev/mavenbook/work/cruisecontrol/logs/qotd" encoding="ISO-8859-1">
      <merge dir="c:/dev/mavenbook/work/cruisecontrol/checkout/qotd" pattern="TEST-*.xml"/>
    </log>
    <publishers>
      <currentbuildstatuspublisher file="c:/dev/mavenbook/work/cruisecontrol/logs/qotd/status.txt"/>
      <htmlemail spamwhilebroken="false" reportsuccess="always" css="C:/apps/cruisecontrol-2.2.1/reporting/jsp/webcontent/css/cruisecontrol.css" mailhost="localhost" buildresultsurl="http://www.mavenbook.org/projects/mdn/qotd/cruisecontrol/buildresults/qotd" subjectprefix="[BUILD]" defaultsuffix="@apache.org" xsldir="C:/apps/cruisecontrol-2.2.1/reporting/jsp/webcontent/xsl" logdir="c:/dev/mavenbook/work/cruisecontrol/logs/qotd" skipusers="false" returnaddress="vmassol@apache.org">
        <map address="vmassol@apache.org" alias="vmassol"/>>
        <map address="tobrien@apache.org" alias="tobrien"/>
        <failure address="vmassol@apache.org"/>
        <success address="vmassol@apache.org"/>
      </htmlemail>
    </publishers>
  </project>
</cruisecontrol>
