$page.setTitle( "Add Project" )

<div class="app">
  <div id="axial" class="h3">
    >>>>>>>>> $form.add.titleKey
    <h3>$i18n.getString( $form.add.titleKey )</h3>
    <form method="post" action="$link" #if( $form.attributes.multipart )enctype="multipart/form-data"#end>
      #hidden ( "fid" $form.id )
      #hidden ( "action" $form.add.action )
      #hidden ( "view" $form.add.view )
      #hidden ( "id" $id )
      <div class="axial">
        <table border="1" cellspacing="2" cellpadding="3" width="100%">
          #foreach ( $element in $form.elements )
          #if ( !$element.immutable )
          <tr>
            #field( $i18n $data $element $item $formtool )
          </tr>
          #else
            #if ( $element.defaultValue )
              #hidden ( $element.id $element.defaultValue )
            #end
          #end
          #end
        </table>
        #submitBar( "Submit" )
      </div>
    </form>
  </div>
</div>
