$page.setTitle( $i18n.getString( $form.add.titleKey ) )

#set ( $executorId = $data.getParameters().getString("executorId") )

<div class="app">
  <div id="axial" class="h3">
    <h3>$i18n.getString( $form.add.titleKey )</h3>
    <form method="post" action="$link" #if( $form.attributes.multipart )enctype="multipart/form-data"#end>
      #hidden ( "action" "cam" )
      #hidden ( "cid" "addBuildDefinition" )
      #hidden ( "view" "$form.add.view" )
      <input type="hidden" name="fid" value="${executorId}Project"/>
      #hidden ( "id" $id )
      <div class="axial">
        <table border="1" cellspacing="2" cellpadding="3" width="100%">
          #foreach ( $element in $form.elements )
          #if($executorId == "ant" && $element.id == "buildFile")
          <tr>
            <th>$i18n.getString( "buildDefinition.antBuildXmlFile.label" )</th>
            <td>
              <input type="text" name="buildFile" value="" size="100"/>
                  <p>
                    $i18n.getString( "buildDefinition.antBuildXmlFile.message" ) <font color="red"><b></b></font>
                  </p>
            </td>
          </tr>
          #elseif($executorId == "shell" && $element.id == "buildFile")
          <tr>
            <th>$i18n.getString( "buildDefinition.shellExecutableFile.label" )</th>
            <td>
              <input type="text" name="buildFile" value="" size="100"/>
                  <p>
                    $i18n.getString( "buildDefinition.shellExecutableFile.message" ) <font color="red"><b></b></font>
                  </p>
            </td>
          </tr>
          #elseif($executorId == "ant" && $element.id == "goals")
          <tr>
            <th>$i18n.getString( "buildDefinition.targets.label" )</th>
            <td>
              <input type="text" name="goals" value="" size="100"/>
                  <p>
                    $i18n.getString( "buildDefinition.targets.message" ) <font color="red"><b></b></font>
                  </p>
            </td>
          </tr>
          #elseif($executorId == "shell" && $element.id == "goals")
          #else
            #if ( !$element.immutable )
            <tr>
              #field( $i18n $data $element $item $formtool )
            </tr>
            #else
              #if ( $element.defaultValue )
                #hidden ( $element.id $element.defaultValue )
              #end
            #end
          #end
          #end
          <tr>
            <th>$i18n.getString( "buildDefinition.schedule.label" )</th>
            <td>
              <select name="schedule">
                #foreach ( $schedule in $continuum.getSchedules() )
                  <option value="$schedule.id" #if ( $schedule.name == "DEFAULT_SCHEDULE" ) selected="selected" #end>$schedule.name</option>
                #end
              </select>
            </td>
          </tr>
        </table>
        #submitBar( "Submit" )
      </div>
    </form>
  </div>
</div>
