$page.setTitle( "Continuum - Build Order" )

<div class="app">
  <div id="axial" class="h3">
  <h3>Build Order</h3>
    <table border="1" cellspacing="2" cellpadding="3" width="100%">
      #foreach ( $project in $continuum.projectsInBuildOrder )
      <tr class="$css.nextClass">
        <td>$project.name</td>
      </tr>
      #end
    </table>
  </div>
</div>