$page.setTitle( "Configure Continuum" )

<div class="app">
  <div id="axial" class="h3">
    <h3>End of configuration</h3>
    <p>
    Continuum is configured.
    <p>
    <p>
    You can now add users/groups after log in.
    <p>
  </div>
</div>
