$page.setTitle( "Configure Continuum" )

<div class="app">
  <div id="axial" class="h3">
    <form method="post" action="$link">
      #hidden ( "action" "initializationChecker" )

      <h3>Admin account</h3>
      <div class="axial">
        <table border="1" cellpadding="3" cellspacing="2" width="100%">
          <tbody>
          <tr>
            <th>Username</th>
            <td><input type="text" name="username" size="100"></td>
          </tr>
          <tr>
            <th>Password</th>
            <td><input type="password" name="password" size="100"></td>
          </tr>
          <tr>
            <th>Re-enter Password</th>
            <td><input type="password" name="password.two" size="100"></td>
          </tr>
          <tr>
            <th>Full Name</th>
            <td><input type="text" name="fullName" size="100"></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><input type="text" name="email" size="100"></td>
          </tr>
          </tbody>
        </table>
      </div>

      <h3>Directories</h3>
      <div class="axial">
      <table border="1" cellpadding="3" cellspacing="2" width="100%">
        <tbody>
        <tr>
          <th>Working Directory</th>
          <td><input type="text" name="workingDirectory" value="working-directory" size="100"><br>If you define a relative path, it will be relative to $continuum.configuration.applicationHome</td>
        </tr>
        <tr>
          <th>Build Output Directory</th>
          <td><input type="text" name="buildOutputDirectory" value="build-output-directory" size="100"><br>If you define a relative path, it will be relative to $continuum.configuration.applicationHome</td>
        </tr>
        <tr>
          <th>Deployment Repository Directory</th>
          <td><input type="text" name="deploymentRepositoryDirectory" size="100"><br><strong>Optional.</strong> If you define a relative path, it will be relative to $continuum.configuration.applicationHome</td>
        </tr>
        </tbody>
      </table>
      </div>

      <h3>Base URL</h3>
      <div class="axial">
      <table border="1" cellpadding="3" cellspacing="2" width="100%">
        <tbody>
        <tr>
          <th>Base URL</th>
          <td><input type="text" name="baseUrl" value="http://localhost:8080/continuum/servlet/continuum" size="100"></td>
        </tr>
        </tbody>
      </table>
      </div>

      <h3>Company Informations</h3>
      <div class="axial">
      <table border="1" cellpadding="3" cellspacing="2" width="100%">
        <tbody>
        <tr>
          <th>Name</th>
          <td><input type="text" name="companyName" size="100"></td>
        </tr>
        <tr>
          <th>Logo</th>
          <td><input type="text" name="companyLogo" size="100"></td>
        </tr>
        <tr>
          <th>URL</th>
          <td><input type="text" name="companyUrl" size="100"></td>
        </tr>
        </tbody>
      </table>
      </div>

      <h3>Guest access</h3>
      <div class="axial">
      <table border="1" cellpadding="3" cellspacing="2" width="100%">
        <tbody>
        <tr>
          <th>Allow Guest</th>
          <td><input type="checkbox" name="guestAccountEnabled" checked="checked"></td>
        </tr>
        </tbody>
      </table>
      </div>

      #submitBar( "Submit" )
    </form>
  </div>
</div>
