$page.setTitle( "Configure Continuum" )

#if ( $data.user )
  #set ( $c1user = $continuum.getUser( $data.user.userId ) )
#else
  #set ( $c1user = $continuum.security.getGuestUser() )
#end

<div class="app">
  <div id="axial" class="h3">
    <h3>General Configuration</h3>

    <div class="axial">
      <table border="1" cellpadding="3" cellspacing="2" width="100%">
        <tbody>
        <tr class="b">
          <th>Guests</th>
          <td>
            #if ( $continuum.configuration.isGuestAccountEnabled() )
              #set ( $guestAccess = "Enabled" )
            #else
              #set ( $guestAccess = "Disabled" )
            #end
            Guest user is <strong style="color: green;">$guestAccess</strong>
          </td>
        </tr>
        <tr class="b">
          <th>Working Directory</th>
          <td>$continuum.configuration.workingDirectory</td>
        </tr>
        <tr class="b">
          <th>Build Output Directory</th>
          <td>$continuum.configuration.buildOutputDirectory</td>
        </tr>
        <tr class="b">
          <th>Deployment Repository Directory</th>
          <td>
          #if ($continuum.configuration.deploymentRepositoryDirectory )
           $continuum.configuration.deploymentRepositoryDirectory
          #else
           -
          #end
          </td>
        </tr>
        <tr class="b">
          <th>Base URL</th>
          <td>$continuum.configuration.url</td>
        </tr>
        <tr class="b">
          <th>Company Name</th>
          <td>#if ( $continuum.configuration.companyName ) $continuum.configuration.companyName #end</td>
        </tr>
        <tr class="b">
          <th>Company Logo</th>
          <td>#if ( $continuum.configuration.companyLogo ) $continuum.configuration.companyLogo #end</td>
        </tr>
        <tr class="b">
          <th>Company URL</th>
          <td>#if ( $continuum.configuration.companyUrl ) $continuum.configuration.companyUrl #end</td>
        </tr>
        </tbody>
      </table>
      #if ( $continuum.security.isAuthorized( $c1user, "manageConfiguration" ) )
      <div class="functnbar3">
        <table>
          <tr>
            <td>
              <form method="post" action="$link.setPage('EditContinuumConfiguration.vm')">
                <input type="submit" name="edit-configuration" value="Edit"/>
              </form>
            </td>
          </tr>
        </table>
      </div>
      #end
    </div>
</div>
