$page.setTitle( $i18n.getString( $form.delete.titleKey ) )

<div class="app">
  <div id="axial" class="h3">
    <h3>$i18n.getString( $form.delete.titleKey )</h3>
    <div class="warningmessage">
      <p>
        <strong>$i18n.getString( "schedule.delete.confirmation.message" )</strong>
      </p>
    </div>
    <form method="post" action="$link">
      #hidden ( "fid" $form.id )
      #hidden ( "action" $form.delete.action )
      #hidden ( "view" $form.delete.view )
      #hidden ( "id" $id )
      <div class="functnbar3">
        <input type="submit" name="deleteEntry" value="Delete"/>
        <input type="submit" name="cancel" value="Cancel"/>
      </div>
  </form>
  </div>
</div>
