$page.setTitle( "Continuum - MSN Notifier" )

<div class="app">
  <div id="axial" class="h3">
    <h3>Edit MSN Notifier</h3>
    <form method="post" action="$link">
      #hidden ( "action" "cam" )
      #hidden ( "cid" "updateNotifier" )
      #hidden ( "view" "Summary.vm" )
      #hidden ( "id" $project.id )
      #hidden ( "notifierId" $notifier.id )
      <div class="axial">
        <table border="1" cellspacing="2" cellpadding="3" width="100%">
          <tr>
            <th>MSN Login</th>
            <td>
              <input type="text" name="port" value="$notifier.configuration.login" size="100"/>
            </td>
          </tr>
          <tr>
            <th>MSN Password</th>
            <td>
              <input type="password" name="password" value="$notifier.configuration.password" size="100"/>
            </td>
          </tr>
          <tr>
            <th>MSN Recipient</th>
            <td>
              <input type="text" name="address" value="$notifier.configuration.address" size="100"/>
            </td>
          </tr>
          <tr>
            <th>Send on success</th>
            <td>
              <input type="checkbox" name="sendOnSuccess" #if( $notifier.sendOnSuccess ) checked="checked" #end/>
            </td>
          </tr>
          <tr>
            <th>Send on failure</th>
            <td>
              <input type="checkbox" name="sendOnFailure" #if( $notifier.sendOnFailure ) checked="checked" #end/>
            </td>
          </tr>
          <tr>
            <th>Send on error</th>
            <td>
              <input type="checkbox" name="sendOnError" #if( $notifier.sendOnError ) checked="checked" #end/>
            </td>
          </tr>
          <tr>
            <th>Send on warning</th>
            <td>
              <input type="checkbox" name="sendOnWarning" #if( $notifier.sendOnWarning ) checked="checked" #end/>
            </td>
          </tr>
        </table>
        #submitBar( "Submit" )
      </div>
    </form>
  </div>
</div>
