$page.setTitle( "Continuum - IRC Notifier" )

<div class="app">
  <div id="axial" class="h3">
    <h3>Edit IRC Notifier</h3>
    <form method="post" action="$link">
      #hidden ( "action" "cam" )
      #hidden ( "cid" "updateNotifier" )
      #hidden ( "view" "Summary.vm" )
      #hidden ( "id" $project.id )
      #hidden ( "notifierId" $notifier.id )
      <div class="axial">
        <table border="1" cellspacing="2" cellpadding="3" width="100%">
          <tr>
            <th>IRC Host</th>
            <td>
              <input type="text" name="host" value="$notifier.configuration.host" size="100"/>
            </td>
          </tr>
          <tr>
            <th>IRC Port</th>
            <td>
              <input type="text" name="port" value="$notifier.configuration.port" size="100"/>
            </td>
          </tr>
          <tr>
            <th>IRC Channel</th>
            <td>
              <input type="text" name="channel" value="$notifier.configuration.channel" size="100"/>
            </td>
          </tr>
          <tr>
            <th>Nick Name</th>
            <td>
              <input type="text" name="nick" value="$notifier.configuration.nick" size="100"/>
            </td>
          </tr>
          <tr>
            <th>Full Name</th>
            <td>
              <input type="text" name="fullName" value="$notifier.configuration.fullName" size="100"/>
            </td>
          </tr>
          <tr>
            <th>Send on success</th>
            <td>
              <input type="checkbox" name="sendOnSuccess" #if( $notifier.sendOnSuccess ) checked="checked" #end/>
            </td>
          </tr>
          <tr>
            <th>Send on failure</th>
            <td>
              <input type="checkbox" name="sendOnFailure" #if( $notifier.sendOnFailure ) checked="checked" #end/>
            </td>
          </tr>
          <tr>
            <th>Send on error</th>
            <td>
              <input type="checkbox" name="sendOnError" #if( $notifier.sendOnError ) checked="checked" #end/>
            </td>
          </tr>
          <tr>
            <th>Send on warning</th>
            <td>
              <input type="checkbox" name="sendOnWarning" #if( $notifier.sendOnWarning ) checked="checked" #end/>
            </td>
          </tr>
        </table>
        #submitBar( "Submit" )
      </div>
    </form>
  </div>
</div>
