$page.setTitle( "Continuum - Jabber Notifier" )

<div class="app">
  <div id="axial" class="h3">
    <h3>Edit Jabber Notifier</h3>
    <form method="post" action="$link">
      #hidden ( "action" "cam" )
      #hidden ( "cid" "updateNotifier" )
      #hidden ( "view" "Summary.vm" )
      #hidden ( "id" $project.id )
      #hidden ( "notifierId" $notifier.id )
      <div class="axial">
        <table border="1" cellspacing="2" cellpadding="3" width="100%">
          <tr>
            <th>Jabber Host</th>
            <td>
              <input type="text" name="host" value="$notifier.configuration.host" size="100"/>
            </td>
          </tr>
          <tr>
            <th>Jabber Login</th>
            <td>
              <input type="text" name="port" value="$notifier.configuration.login" size="100"/>
            </td>
          </tr>
          <tr>
            <th>Jabber Password</th>
            <td>
              <input type="password" name="password" value="$notifier.configuration.password" size="100"/>
            </td>
          </tr>
          <tr>
            <th>Jabber Recipient</th>
            <td>
              <input type="text" name="address" value="$notifier.configuration.address" size="100"/>
            </td>
          </tr>
          <tr>
            <th>Is Jabber Group?</th>
            <td>
              <input type="check" name="isGroup" value="$notifier.configuration.isGroup"/>
            </td>
            ##field( $i18n $data $element $item $formtool )
            ##validateField( $fvr $element )
          </tr>
        </table>
        #submitBar( "Submit" )
      </div>
    </form>
  </div>
</div>
