$page.setTitle( "Continuum - Jabber Notifier" )

<div class="app">
  <div id="axial" class="h3">
    <h3>Edit Jabber Notifier</h3>
    <form method="post" action="$link">
      #hidden ( "action" "cam" )
      #hidden ( "cid" "updateNotifier" )
      #hidden ( "view" "Summary.vm" )
      #hidden ( "id" $project.id )
      #hidden ( "notifierId" $notifier.id )
      <div class="axial">
        <table border="1" cellspacing="2" cellpadding="3" width="100%">
          <tr>
            <th>Jabber Host</th>
            <td>
              <input type="text" name="host" value="$notifier.configuration.host" size="100"/>
            </td>
          </tr>
          <tr>
            <th>Jabber Port</th>
            <td>
              <input type="text" name="port" value="$notifier.configuration.port" size="100"/>
            </td>
          </tr>
          <tr>
            <th>Jabber Login</th>
            <td>
              <input type="text" name="login" value="$notifier.configuration.login" size="100"/>
            </td>
          </tr>
          <tr>
            <th>Jabber Password</th>
            <td>
              <input type="password" name="password" value="$notifier.configuration.password" size="100"/>
            </td>
          </tr>
          <tr>
            <th>Jabber Domain Name</th>
            <td>
              <input type="text" name="domainName" value="$notifier.configuration.domainName" size="100"/>
            </td>
          </tr>
          <tr>
            <th>Jabber Recipient</th>
            <td>
              <input type="text" name="address" value="$notifier.configuration.address" size="100"/>
            </td>
          </tr>
          <tr>
            <th>Is it a SSL Connection?</th>
            <td>
              <input type="checkbox" name="sslConnection" #if( $notifier.configuration.sslConnection == "on" ) checked="checked" #end/>
            </td>
          </tr>
          <tr>
            <th>Is it a Jabber Group?</th>
            <td>
              <input type="checkbox" name="isGroup" #if( $notifier.configuration.isGroup == "on" ) checked="checked" #end/>
            </td>
          </tr>
          <tr>
            <th>Send on success</th>
            <td>
              <input type="checkbox" name="sendOnSuccess" #if( $notifier.sendOnSuccess ) checked="checked" #end/>
            </td>
          </tr>
          <tr>
            <th>Send on failure</th>
            <td>
              <input type="checkbox" name="sendOnFailure" #if( $notifier.sendOnFailure ) checked="checked" #end/>
            </td>
          </tr>
          <tr>
            <th>Send on error</th>
            <td>
              <input type="checkbox" name="sendOnError" #if( $notifier.sendOnError ) checked="checked" #end/>
            </td>
          </tr>
          <tr>
            <th>Send on warning</th>
            <td>
              <input type="checkbox" name="sendOnWarning" #if( $notifier.sendOnWarning ) checked="checked" #end/>
            </td>
          </tr>
        </table>
        #submitBar( "Submit" )
      </div>
    </form>
  </div>
</div>
