$page.setTitle( $i18n.getString( $form.update.titleKey ) )

<div class="app">
  <div id="axial" class="h3">
    <h3>$i18n.getString( $form.update.titleKey )</h3>
    <form method="post" action="$link" #if( $form.attributes.multipart )enctype="multipart/form-data"#end>
      #hidden ( "action" "cam" )
      #hidden ( "cid" "updateUserGroup" )
      #hidden ( "view" "$form.add.view" )
      #hidden ( "id" $id )
      <div class="axial">
        <table border="1" cellpadding="3" cellspacing="2" width="100%">
          <tbody>
          #foreach ( $element in $form.elements )
            #if ( !$element.immutable )
            <tr>
              #field( $i18n $data $element $item $formtool )
            </tr>
            #else
              #if ( $element.defaultValue )
                #hidden ( $element.id $element.defaultValue )
              #end
            #end
          #end
        <tr>
          <th>$i18n.getString( "group.permission.addProject.label" )</th>
          <td >
            <input type="checkbox" name="group.permission.addProject" #if ( $continuum.security.isAuthorized( $item, "addProject" ) ) checked="checked" #end/>
            <p>
              $i18n.getString( "group.permission.addProject.message" ) <font color="red"><b></b></font>
            </p>
          </td>
        </tr>
        <tr>
          <th>$i18n.getString( "group.permission.editProject.label" )</th>
          <td >
            <input type="checkbox" name="group.permission.editProject"  #if ( $continuum.security.isAuthorized( $item, "editProject" ) ) checked="checked" #end/>
            <p>
              $i18n.getString( "group.permission.editProject.message" ) <font color="red"><b></b></font>
            </p>
          </td>
        </tr>
        <tr>
          <th>$i18n.getString( "group.permission.deleteProject.label" )</th>
          <td >
            <input type="checkbox" name="group.permission.deleteProject"  #if ( $continuum.security.isAuthorized( $item, "deleteProject" ) ) checked="checked" #end/>
            <p>
              $i18n.getString( "group.permission.deleteProject.message" ) <font color="red"><b></b></font>
            </p>
          </td>
        </tr>
        <tr>
          <th>$i18n.getString( "group.permission.buildProject.label" )</th>
          <td >
            <input type="checkbox" name="group.permission.buildProject"  #if ( $continuum.security.isAuthorized( $item, "buildProject" ) ) checked="checked" #end/>
            <p>
              $i18n.getString( "group.permission.buildProject.message" ) <font color="red"><b></b></font>
            </p>
          </td>
        </tr>
        <tr>
          <th>$i18n.getString( "group.permission.showProject.label" )</th>
          <td >
            <input type="checkbox" name="group.permission.showProject"  #if ( $continuum.security.isAuthorized( $item, "showProject" ) ) checked="checked" #end/>
            <p>
              $i18n.getString( "group.permission.showProject.message" ) <font color="red"><b></b></font>
            </p>
          </td>
        </tr>
        <tr>
          <th>$i18n.getString( "group.permission.addBuildDefinition.label" )</th>
          <td >
            <input type="checkbox" name="group.permission.addBuildDefinition"  #if ( $continuum.security.isAuthorized( $item, "addBuildDefinition" ) ) checked="checked" #end/>
            <p>
              $i18n.getString( "group.permission.addBuildDefinition.message" ) <font color="red"><b></b></font>
            </p>
          </td>
        </tr>
        <tr>
          <th>$i18n.getString( "group.permission.editBuildDefinition.label" )</th>
          <td >
            <input type="checkbox" name="group.permission.editBuildDefinition"  #if ( $continuum.security.isAuthorized( $item, "editBuildDefinition" ) ) checked="checked" #end/>
            <p>
              $i18n.getString( "group.permission.editBuildDefinition.message" ) <font color="red"><b></b></font>
            </p>
          </td>
        </tr>
        <tr>
          <th>$i18n.getString( "group.permission.deleteBuildDefinition.label" )</th>
          <td >
            <input type="checkbox" name="group.permission.deleteBuildDefinition"  #if ( $continuum.security.isAuthorized( $item, "deleteBuildDefinition" ) ) checked="checked" #end/>
            <p>
              $i18n.getString( "group.permission.deleteBuildDefinition.message" ) <font color="red"><b></b></font>
            </p>
          </td>
        </tr>
        <tr>
          <th>$i18n.getString( "group.permission.addNotifier.label" )</th>
          <td >
            <input type="checkbox" name="group.permission.addNotifier"  #if ( $continuum.security.isAuthorized( $item, "addNotifier" ) ) checked="checked" #end/>
            <p>
              $i18n.getString( "group.permission.addNotifier.message" ) <font color="red"><b></b></font>
            </p>
          </td>
        </tr>
        <tr>
          <th>$i18n.getString( "group.permission.editNotifier.label" )</th>
          <td >
            <input type="checkbox" name="group.permission.editNotifier"  #if ( $continuum.security.isAuthorized( $item, "editNotifier" ) ) checked="checked" #end/>
            <p>
              $i18n.getString( "group.permission.editNotifier.message" ) <font color="red"><b></b></font>
            </p>
          </td>
        </tr>
        <tr>
          <th>$i18n.getString( "group.permission.deleteNotifier.label" )</th>
          <td >
            <input type="checkbox" name="group.permission.deleteNotifier"  #if ( $continuum.security.isAuthorized( $item, "deleteNotifier" ) ) checked="checked" #end/>
            <p>
              $i18n.getString( "group.permission.deleteNotifier.message" ) <font color="red"><b></b></font>
            </p>
          </td>
        </tr>
        <tr>
          <th>$i18n.getString( "group.permission.manageConfiguration.label" )</th>
          <td >
            <input type="checkbox" name="group.permission.manageConfiguration"  #if ( $continuum.security.isAuthorized( $item, "manageConfiguration" ) ) checked="checked" #end/>
            <p>
              $i18n.getString( "group.permission.manageConfiguration.message" ) <font color="red"><b></b></font>
            </p>
          </td>
        </tr>
        <tr>
          <th>$i18n.getString( "group.permission.manageSchedule.label" )</th>
          <td >
            <input type="checkbox" name="group.permission.manageSchedule"  #if ( $continuum.security.isAuthorized( $item, "manageSchedule" ) ) checked="checked" #end/>
            <p>
              $i18n.getString( "group.permission.manageSchedule.message" ) <font color="red"><b></b></font>
            </p>
          </td>
        </tr>
        <tr>
          <th>$i18n.getString( "group.permission.manageUsers.label" )</th>
          <td >
            <input type="checkbox" name="group.permission.manageUsers"  #if ( $continuum.security.isAuthorized( $item, "manageUsers" ) ) checked="checked" #end/>
            <p>
              $i18n.getString( "group.permission.manageUsers.message" ) <font color="red"><b></b></font>
            </p>
          </td>
        </tr>
        </tbody>
        </table>
        #submitBar( "Submit" )
      </div>
    </form>
  </div>
</div>
