$page.setTitle( "Continuum - MSN Notifier" )

#set ( $executorId = $data.getParameters().getString("executorId") )

<div class="app">
  <div id="axial" class="h3">
    <h3>Edit MSN Notifier</h3>
    <form method="post" action="$link">
      #hidden ( "action" "cam" )
      #hidden ( "cid" "updateNotifier" )
      #hidden ( "view" "View.vm" )
      #hidden ( "id" $project.id )
      #hidden ( "fid" "${executorId}Project" )
      #hidden ( "notifierId" $notifier.id )
      <div class="axial">
        <table border="1" cellpadding="3" cellspacing="2" width="100%">
          <tbody>
          <tr>
            <th>MSN Login</th>
            <td>
              <input type="text" name="port" value="#if($notifier.configuration.login)$notifier.configuration.login#end" size="100"/>
            </td>
          </tr>
          <tr>
            <th>MSN Password</th>
            <td>
              <input type="password" name="password" value="#if($notifier.configuration.password)$notifier.configuration.password#end" size="100"/>
            </td>
          </tr>
          <tr>
            <th>MSN Recipient</th>
            <td>
              <input type="text" name="address" value="#if($notifier.configuration.address)$notifier.configuration.address#end" size="100"/>
            </td>
          </tr>
          <tr>
            <th>Send on success</th>
            <td>
              <input type="checkbox" name="sendOnSuccess" #if( $notifier.sendOnSuccess ) checked="checked" #end/>
            </td>
          </tr>
          <tr>
            <th>Send on failure</th>
            <td>
              <input type="checkbox" name="sendOnFailure" #if( $notifier.sendOnFailure ) checked="checked" #end/>
            </td>
          </tr>
          <tr>
            <th>Send on error</th>
            <td>
              <input type="checkbox" name="sendOnError" #if( $notifier.sendOnError ) checked="checked" #end/>
            </td>
          </tr>
          <tr>
            <th>Send on warning</th>
            <td>
              <input type="checkbox" name="sendOnWarning" #if( $notifier.sendOnWarning ) checked="checked" #end/>
            </td>
          </tr>
          </tbody>
        </table>
        #submitBar( "Submit" )
      </div>
    </form>
  </div>
</div>
