$page.setTitle( "Login" )

<div class="app">
  <div id="axial" class="h3">
    <form method="post" action="$link">
      #hidden ( "action" "login" )

      <h3>Authentication</h3>
      <div class="axial">
        <table border="1" cellspacing="2" cellpadding="3">
#if ( $loginMessage )
          <tr>
            <td colspan="2"><font color="red">$loginMessage</font></td>
          </tr>
#end
          <tr>
            <td>Username :</td>
            <td><input type="text" name="login.username" size="100"></td>
          </tr>
          <tr>
            <td>Password :</td>
            <td><input type="password" name="login.password" size="100"></td>
          </tr>
        </table>

        #submitBar( "Submit" )
      </div>
    </form>
  </div>
</div>
