$page.setTitle( "Continuum - ${project.name} Notifiers" )

<div class="app">
  <div id="h3">
    <h3>${project.name} Notifiers</h3>
    <table border="1" cellpadding="3" cellspacing="2" width="100%">
      <tbody>
      <tr>
        <th class="tablehead">Notifier Type</th>
        <th colspan="3" class="tablehead"></th>
      </tr>
      #foreach ( $notifier in $project.notifiers )
      <tr class="$css.nextClass">

        #if ( $notifier.type == "irc" )
        <td>IRC</td>
        #elseif ( $notifier.type == "mail" )
        <td>Mail</td>
        #elseif ( $notifier.type == "msn" )
        <td>MSN</td>
        #elseif ( $notifier.type == "jabber" )
        <td>Jabber</td>
        #end

        #if ( $notifier.type == "irc" )
        <td><a href="$link.setPage('ViewIrcNotifier.vm').addPathInfo('view','ViewIrcNotifier').addPathInfo('notifierType', $notifier.type).addPathInfo('id', $project.id)">View</a></td>
        #elseif ( $notifier.type == "mail" )
        <td><a href="$link.setPage('ViewMailNotifier.vm').addPathInfo('view','ViewMailNotifier').addPathInfo('notifierType', $notifier.type).addPathInfo('id', $project.id)">View</a></td>
        #elseif ( $notifier.type == "msn" )
        <td><a href="$link.setPage('ViewMsnNotifier.vm').addPathInfo('view','ViewMsnNotifier').addPathInfo('notifierType', $notifier.type).addPathInfo('id', $project.id)">View</a></td>
        #elseif ( $notifier.type == "jabber" )
        <td><a href="$link.setPage('ViewJabberNotifier.vm').addPathInfo('view','ViewJabberNotifier').addPathInfo('notifierType', $notifier.type).addPathInfo('id', $project.id)">View</a></td>
        #end

        #if ( $notifier.type == "irc" )
        <td><a href="$link.setPage('EditIrcNotifier.vm').addPathInfo('view','EditIrcNotifier').addPathInfo('notifierType', $notifier.type).addPathInfo('id', $project.id)">Edit</a></td>
        #elseif ( $notifier.type == "mail" )
        <td><a href="$link.setPage('EditMailNotifier.vm').addPathInfo('view','EditMailNotifier').addPathInfo('notifierType', $notifier.type).addPathInfo('id', $project.id)">Edit</a></td>
        #elseif ( $notifier.type == "msn" )
        <td><a href="$link.setPage('EditMsnNotifier.vm').addPathInfo('view','EditMsnNotifier').addPathInfo('notifierType', $notifier.type).addPathInfo('id', $project.id)">Edit</a></td>
        #elseif ( $notifier.type == "jabber" )
        <td><a href="$link.setPage('EditJabberNotifier.vm').addPathInfo('view','EditJabberNotifier').addPathInfo('notifierType', $notifier.type).addPathInfo('id', $project.id)">Edit</a></td>
        #end

        <td><a href="$link.setPage('ProjectNotifiers.vm').addPathInfo('notifierType', $notifier.type).addPathInfo('action','cam').addPathInfo('cid','deleteNotifier').addPathInfo('id', $project.id)">Delete</a></td>
      </tr>
      #end
      </tbody>
    </table>
  </div>
  <div class="functnbar3">
    <a href="$link.setPage('SelectNotifier.vm').addPathInfo('id', $project.id )">Add</a>
  </div>
</div>
