$page.setTitle( "Continuum - ${project.name} Builds" )

<div class="app">
  <h3>Build results for $project.name</h3>
  <p>
    <table border="1" cellspacing="2" cellpadding="3" width="100%">
      <tr>
        <th>Start Time</th>
        <th>End Time</th>
        <th>State</th>
        <th></th>
      </tr>
      #foreach ( $build in $builds )
      <tr class="$css.nextClass">
        <td>$date.format('medium',$build.startTime)</td>
        <td>$date.format('medium',$build.endTime)</td>
        <td>$state.generate($build)</td>
        <td><a href="$link.setPage('ProjectBuild.vm').addQueryData('view','ProjectBuild').addQueryData('buildId',$build.id).addQueryData('projectId',$project.id)">Result</a></td>
      </tr>
      #end
    </table>
  </p>
</div>
