$page.setTitle( "Continuum - Continuum Web Builds" )

#if ( $data.user )
  #set ( $c1user = $continuum.getUser( $data.user.userId ) )
#else
  #set ( $c1user = $continuum.security.getGuestUser() )
#end

<div class="app">

  #if ( $continuum.security.isAuthorized( $c1user, "showProject" ) )
  <div>
    <p style="border-top: 1px solid transparent; border-bottom: 1px solid #DFDEDE;">
      #set ( $infoLink = $link.setPage('View.vm').addPathInfo('fid', "$!{project.executorId}Project").addPathInfo('id', $project.id) )
      <a style="border: 1px solid #DFDEDE; padding-left: 1em; padding-right: 1em; text-decoration: none;" href="$infoLink">Info</a>
      <b style="border: 1px solid #DFDEDE; padding-left: 1em; padding-right: 1em;">Builds</b>
      #if ( $project.state == 10 || $project.state == 2 || $project.state == 3 || $project.state == 4 || $project.state == 6 )
        #set ( $workingCopy = $link.setPage('WorkingCopy.vm').addPathInfo('view', "WorkingCopy").addPathInfo('id', $project.id) )
        <a style="border: 1px solid #DFDEDE; padding-left: 1em; padding-right: 1em; text-decoration: none;" href="$workingCopy">Working&nbsp;Copy</a>
      #end
    </p>
  </div>
  #end

  <h3>Build results for $project.name</h3>
  <p>
    <table border="1" cellpadding="3" cellspacing="2" width="100%">
      <tbody>
      <tr>
        <th class="tablehead">Build #</th>
        <th class="tablehead">Start Time</th>
        <th class="tablehead">End Time</th>
        <th class="tablehead">&nbsp;</th>
        <th class="tablehead">State</th>
        <th class="tablehead">&nbsp;</th>
      </tr>
      #foreach ( $build in $builds )
      <tr class="$css.nextClass">
        <td>#if ( $build.state == 2 ) $build.buildNumber #end</td>
        <td>$!{date.format('medium',$build.startTime)}</td>
        <td>$!{date.format('medium',$build.endTime)}</td>
        <td>
          #if ( $build.endTime )
            #set ( $endTime = $build.endTime )
          #else
            #set ( $endTime = 0 );
          #end
          #if ( $endTime.toString() != "0" )
            Duration : $!{date.getTimeDifference($build.startTime, $build.endTime)}
          #else
            Started since : $!{date.getElapsedTime($build.startTime)}
          #end
        </td>
        <td>$state.generate($build)</td>
        <td><a href="$link.setPage('ProjectBuild.vm').addQueryData('view','ProjectBuild').addQueryData('buildId',$build.id).addQueryData('id',$project.id)">Result</a></td>
      </tr>
      #end
      </tbody>
    </table>
  </p>
</div>
