$page.setTitle( "Continuum - ${project.name} Build at $date.format('medium',$build.startTime)" )

<div class="app">
  <h3>Build result for $project.name</h3>
  <p>
    <table border="1" cellspacing="2" cellpadding="3" width="100%">
      <tr class="a">
        <th>Start Time</th>
        <td>$date.format('medium',$build.startTime)</td>
      </tr>
      <tr class="a">
        <th>End Time</th>
        <td>$date.format('medium',$build.endTime)</td>
      </tr>
      <tr class="a">
        <th>Build forced</th>
        #if ( $build.forced )
        <td>Yes</td>
        #else
        <td>No</td>
        #end
      </tr>
    </table>
  </p>

  #if ( $build.scmResult )
  <h4>Changes</h4>
  <p>
    #if ( $build.scmResult.files.size() == 0 )
    <b>No files changed</b>
    #else
    <table border="1" cellspacing="2" cellpadding="3" width="100%">
      #foreach ( $file in $build.scmResult.files )
      <tr class="a">
        <td>$file.path</td>
      </tr>
      #end
    </table>
    #end
  </p>
  #end

#if ( $build.state == 4 )
  <h4>Build Error</h4>
  <p>
    <div style="width:100%; height:500px; overflow:auto; border-style: solid; border-width: 1px">
    <code><pre>$build.error</pre></code>
    </div>
  </p>
#else
  <h4>Standard Output</h4>
  <p>
#if ( $build.standardOutput && $build.standardOutput != "" )
    <div style="width:100%; height:500px; overflow:auto; border-style: solid; border-width: 1px">
    <code><pre>$build.standardOutput</pre></code>
    </div>
#else
No output on standard output
#end
  </p>

  <h4>Standard Error</h4>
  <p>
    #if ( $build.standardError && $build.standardError != "" )
    <div style="width:100%; height:200px; overflow:auto; border-style: solid; border-width: 1px">
    <code><pre>$build.standardError</pre></code>
    </div>
    #else
    No output on standard error
    #end
  </p>
#end

</div>
