$page.setTitle( "Continuum" )

#set ( $items = $continuum.schedules )

<div class="app">
  <div id="h3">
    <h3>Schedules</h3>
    <table border="1" cellspacing="2" cellpadding="3" width="100%">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Cron</th>
        <th>Quiet Period (seconds)</th>
        <th width="10%">&nbsp;</th>
      </tr>
      #foreach ( $schedule in $items )
        <tr class="b" #if ( !$schedule.active ) style="color: silver;" #end>
          <td>$schedule.name #if ( !$schedule.active ) (DISABLED) #end</td>
          <td>
            #if ( $schedule.description )
             $schedule.description
            #end</td>
          <td>$schedule.cronExpression</td>
          <td>$schedule.delay</td>
          <td width="10%">
            #if ( $schedule.name != "DEFAULT_SCHEDULE" )
              <a href="$link.setPage('Edit.vm').addPathInfo( 'fid', 'schedules').addPathInfo('id', $schedule.id)">Edit</a>
              | <a href="$link.setPage('Delete.vm').addPathInfo('fid', "schedules").addPathInfo('id', $schedule.id)">Delete</a></td>
            #end
        </tr>
      #end
    </table>
    <div class="functnbar3">
      <table>
        <tr>
          <td>
            <form method="post" action="$link.setPage('Add.vm').addPathInfo( 'fid', 'schedules')">
              <input type="submit" name="add-build-def" value="Add"/>
            </form>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

