$page.setTitle( "Continuum - Notifier Selection" )

<div class="app">
  <div id="h3">
    <h3>Notifier Selection</h3>
    <p/>
    <form method="post" action="$link">
      #hidden( "id" $project.id )
      <select name="formicaRedirect">
        <option value="notificationMail:Add.vm">Mail
        <option value="notificationIrc:Add.vm">IRC
        <option value="notificationJabber:Add.vm">Jabber
        <option value="notificationJabber:Add.vm">MSN
      </select>
      <p/>
      <div class="axial">
        #submitBar( "Next" )
      </div>
    </form>
  </div>
</div>
