## 1 = new
## 2 = ok
## 3 = failed
## 4 = error
## 5 = signalled
## 6 = building
## 7 = checking out
## 8 = updating

$page.setTitle( "Continuum" )

#if ( $data.user )
  #set ( $c1user = $continuum.getUser( $data.user.userId ) )
#else
  #set ( $c1user = $continuum.security.getGuestUser() )
#end

#set( $success = 0 )
#set( $failures = 0 )
#set( $errors = 0 )

<div class="app">
  <div id="h3">
    <h3>Continuum Projects</h3>
    <table border="1" cellspacing="2" cellpadding="3" width="100%" id="projectSummaryTable">

      <!-- i18n -->
      <tbody><tr>
        <th>&nbsp;</th>
        <th width="100%">Name</th>
        <th>Version</th>
        <th>Build</th>
        <th>Group</th>
        <th colspan="7"></th>
      </tr>

      #set ( $items = $continuum.projects )

      #foreach ( $item in $items )
      #if ( $item.state == 2 )
        #set( $success = $success + 1 )
      #elseif ( $item.state == 3 )
        #set( $failures = $failures + 1 )
      #elseif( $item.state == 4 )
        #set( $errors = $errors + 1 )
      #end

      <tr class="$css.nextClass">
        <td>
          #if ( $item.state == 1 || $item.state == 2 || $item.state == 3 || $item.state == 4 )
            #set ( $latestBuild = $continuum.getLatestBuildResultForProject( $item.id ) )
            #set ( $generatedState = $state.generate( $item ) )
            #if ( $latestBuild && $generatedState != "New" )
              <a href="$link.setPage('ProjectBuild.vm').addQueryData('view','ProjectBuild').addQueryData('buildId',$latestBuild.id).addQueryData('id',$item.id)">$generatedState</a></td>
            #else
              $generatedState
            #end
          #else
            &nbsp;
          #end
        </td>
        <td><a href="$link.setPage('View.vm').addPathInfo('fid', "$!{item.executorId}Project").addPathInfo('id', $item.id)">$!item.name</a></td>
        <td>$!item.version</td>
        <td>
          #if ( $continuum.isInBuildingQueue( $item.id ) )
            <b>In&nbsp;queue</b>
          #elseif ( $item.state == 1 || $item.state == 2 || $item.state == 3 || $item.state == 4 )
            #if ( $item.buildNumber != 0 )
              #set ( $build = $continuum.getBuildResultByBuildNumber( $item.id, $item.buildNumber ) )
              <a href="$link.setPage('ProjectBuild.vm').addQueryData('view','ProjectBuild').addQueryData('buildId',$build.id).addQueryData('id',$item.id)">$item.buildNumber</a>
            #else
              $item.buildNumber
            #end
          #else
            <b>In&nbsp;progress</b>
          #end
        </td>
        <td>$item.projectGroup.name</td>

        ## Operations

        #if ( $continuum.security.isAuthorized( $c1user, "buildProject" ) )
          #if ( $continuum.isInBuildingQueue( $item.id ) )
          <td>Build</td>
          #elseif ( $item.state == 1 || $item.state == 2 || $item.state == 3 || $item.state == 4 )
          <td><a href="$link.addPathInfo('action', 'cam').addPathInfo('cid','buildProject').addPathInfo('id', $item.id)">Build&nbsp;Now</a></td>
          #else
          <td>Build</td>
          #end
        #end

        #if ( $item.latestBuildId > 0 )
        <td><a href="$link.setPage('ProjectBuilds.vm').addPathInfo('view', "ProjectBuilds").addPathInfo('id', $item.id)">Build&nbsp;History</a></td>
        #else
        <td>All&nbsp;Results</td>
        #end

        #if ( $item.state == 1 || $item.state == 2 || $item.state == 3 || $item.state == 4 || $item.state == 6 )
        <td><a href="$link.setPage('WorkingCopy.vm').addPathInfo('view', "WorkingCopy").addPathInfo('id', $item.id)">Working&nbsp;Copy</a></td>
        #else
        <td>Working&nbsp;Copy</td>
        #end

        #if ( $continuum.security.isAuthorized( $c1user, "deleteProject" ) )
          #if ( $item.state == 1 || $item.state == 2 || $item.state == 3 || $item.state == 4 )
          <td><a href="$link.setPage('Delete.vm').addPathInfo('fid', "$!{item.executorId}Project").addPathInfo('id', $item.id)">Delete</a></td>
          #else
          <td>Delete</td>
          #end
        #end

      </tr>
      #end
      </tbody>
    </table>

    #if ( $continuum.security.isAuthorized( $c1user, "buildProject" ) )
    <div class="functnbar3">
      <form method="post" action="$link">
        <img src="/continuum/images/icon_success_sml.gif" alt="Success"/> $success
        <img src="/continuum/images/icon_warning_sml.gif" alt="Failed"/> $failures
        <img src="/continuum/images/icon_error_sml.gif" alt="Error"/> $errors
        #if ( $items && $items.size() > 0 )
        #hidden ( "action" "cam" )
        #hidden ( "cid" "buildAllProjects" )
        <!-- input type="submit" name="build-broken" value="Build All In Error" -->
        <input type="submit" name="build-all" value="Build All"/>
        #end
      </form>
    </div>
    #end
  </div>
</div>

<table>
  <tr>
    <td align="right">
    </td>
  </tr>
</table>