$page.setTitle( "Continuum" )

<div class="app">
  <div id="h3">
    <h3>$i18n.getString( $form.summary.titleKey )</h3>
    <table border="1" cellspacing="2" cellpadding="3" width="100%">
      <tr>
        #foreach ( $se in $form.summary.summaryElements )
        <th>$i18n.getString( $form.getElement( $se.id ).labelKey )</th>
        #end
        <th colspan="$form.summary.operations.size()"></th>
      </tr>
      #set ( $items = $formtool.getSummaryItems( $form.id ) )
      #foreach ( $item in $items )
      <tr class="$css.nextClass">
        #foreach ( $se in $form.summary.summaryElements )
        <td>$formtool.getSummaryItem( $form, $se, $item )</td>
        #end
        #foreach ( $operation in $form.summary.operations )
        #if ( $formtool.enableOperation( $form, $operation, $item ) )
        <td><a href="$link.setPage( $formtool.getOperationUrl( $form, $item, $operation ) )">$operation.name</a></td>
        #else
        <td>$operation.name</td>
        #end
        #end
      </tr>
      #end
    </table>
    ##
    ## TODO: This should be made a general feature in formica using the CAM and an option for an
    ## enable expression to model what we have below.
    <div class="functnbar3">
      <table>
        <tr>
          <td>
            <form method="post" action="$link">
            #if ( $items && $items.size() > 0 )
            #hidden ( "action" "cam" )
            #hidden ( "cid" "buildAllProjects" )
            <input type="submit" name="build-all" value="Build All"/>
            #end
            </form>
          </td>
          <td>
          <img src="/continuum/images/icon_error_sml.gif" alt="Failed"/> $projectsWithFailures
          <img src="/continuum/images/icon_warning_sml.gif" alt="Error"/> $projectsWithErrors
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
