$page.setTitle( "Continuum - User Management" )

#if ( $data.user )
  #set ( $c1user = $continuum.getUser( $data.user.userId ) )
#else
  #set ( $c1user = $continuum.security.getGuestUser() )
#end

#set ( $items = $continuum.users )

<div class="app">
  <div id="h3">
    <h3>User Management</h3>
    <table border="1" cellpadding="3" cellspacing="2" width="100%">
      <tbody>
      <tr>
        <th class="tablehead">$i18n.getString( "user.username.label" )</th>
        <th class="tablehead">$i18n.getString( "user.fullName.label" )</th>
        <th class="tablehead">$i18n.getString( "user.email.label" )</th>
        <th class="tablehead">$i18n.getString( "user.groupName.label" )</th>
        <th colspan="2" class="tablehead">&nbsp;</th>
      </tr>
      #foreach ( $user in $items )
      <tr class="$css.nextClass">
        <td>$user.username</td>
        <td>$user.fullName</td>
        <td>#if ( $user.email ) $user.email #end</td>
        <td>$user.group.name</td>
        <td width="1%">
          #if ( $continuum.security.isAuthorized( $c1user, "manageUsers" ) )
            #if ( "guest" != $user.username )
              <a href="$link.setPage('EditUser.vm').addPathInfo( 'fid', 'users').addPathInfo('id', $user.accountId)"><img src="$requestUtil.getContextPath()/images/edit.gif" alt="Edit" title="Edit" width="16" height="16" border="0"></a>
            #else
              <img src="$requestUtil.getContextPath()/images/edit_disabled.gif" alt="Edit" title="Edit" width="16" height="16" border="0">
            #end
          #else
            <img src="$requestUtil.getContextPath()/images/edit_disabled.gif" alt="Edit" title="Edit" width="16" height="16" border="0">
          #end
        </td>
        <td width="1%">
          #if ( $continuum.security.isAuthorized( $c1user, "manageUsers" ) )
            #if ( "guest" != $user.username )
              <a href="$link.setPage('DeleteUser.vm').addPathInfo('fid', "users").addPathInfo('id', $user.accountId)"><img src="$requestUtil.getContextPath()/images/delete.gif" alt="Delete" title="Delete" width="16" height="16" border="0"></a>
            #else
              <img src="$requestUtil.getContextPath()/images/delete_disabled.gif" alt="Delete" title="Delete" width="16" height="16" border="0">
            #end
          #else
            <img src="$requestUtil.getContextPath()/images/delete_disabled.gif" alt="Delete" title="Delete" width="16" height="16" border="0">
          #end
        </td>
      </tr>
      #end
      </tbody>
    </table>
    #if ( $continuum.security.isAuthorized( $c1user, "manageUsers" ) )
    <div class="functnbar3">
      <table>
        <tr>
          <td>
            <form method="post" action="$link.setPage('AddUser.vm').addPathInfo( 'fid', 'users')">
              <input type="submit" name="add-user" value="Add"/>
            </form>
          </td>
        </tr>
      </table>
    </div>
    #end
  </div>
</div>

