$page.setTitle( "Continuum - User Management" )

#set ( $items = $continuum.users )

<div class="app">
  <div id="h3">
    <h3>User Management</h3>
    <table border="1" cellspacing="2" cellpadding="3" width="100%">
      <tr>
        <th width="10%">Username</th>
        <th width="10%">Full Name</th>
        <th width="10%">Email</th>
        <th width="10%">Group</th>
        <th width="10%">&nbsp;</th>
      </tr>
      #foreach ( $user in $items )
      <tr class="b">
        <td>$user.username</td>
        <td>$user.fullName</td>
        <td>#if ( $user.email ) $user.email #end</td>
        <td>$user.group.name</td>
        <td></td>
      </tr>
      #end
    </table>
    <!--
    <div class="functnbar3">
      <table>
        <tr>
          <td>
            <form method="post" action="$link.setPage('Add.vm').addPathInfo( 'fid', 'schedules')">
              <input type="submit" name="add-build-def" value="Add"/>
            </form>
          </td>
        </tr>
      </table>
    </div>
    -->
  </div>
</div>

