$page.setTitle( $item.name )

<div class="app">
  <div id="axial" class="h3">
    <h3>$i18n.getString( $form.view.titleKey )</h3>
    <div class="axial">
      <table border="1" cellspacing="2" cellpadding="3" width="100%">
        #foreach ( $element in $form.elements )
        #if ( !$element.immutable )
        <tr class="b">
          <th>$i18n.getString( $element.labelKey )</th>
          <td>$formtool.getItem( $form, $element, $item )</td>
        </tr>
        #end
        #end
      </table>
      #bar()
    </div>

    ## This is an extension which could be done by a parse or include

    <h3>$i18n.getString( $form.view.titleKey )</h3>
    <div class="axial">
      <table border="1" cellspacing="2" cellpadding="3" width="100%">
        #foreach ( $developer in $item.developers )
        <tr class="b">
          $developer.name
          <th>$i18n.getString( $element.labelKey )</th>
          <td>$formtool.getItem( $form, $element, $item )</td>
        </tr>
        #end
      </table>
      #bar()
    </div>

  </div>
</div>
