$page.setTitle( "Continuum - Project View: ${item.name}" )

<div class="app">
  <div id="axial" class="h3">
    <h3>$i18n.getString( $form.view.titleKey )</h3>
    <div class="axial">
      <table border="1" cellspacing="2" cellpadding="3" width="100%">
        #foreach ( $element in $form.elements )
        #if ( !$element.immutable )
        <tr class="b">
          <th>$i18n.getString( $element.labelKey )</th>
          <td>$formtool.getItem( $form, $element, $item )</td>
        </tr>
        #end
        #end
    </table>
    <div class="functnbar3">
      <table>
        <tr>
          <td>
            <form method="post" action="$link">
            #hidden ( "action" "cam" )
            #hidden ( "cid" "checkoutProject" )
            #hidden ( "id" "$item.id" )
            <input type="submit" name="checkout-project" value="Checkout"/>
            </form>
          </td>
        </tr>
      </table>
    </div>
  </div>

  ## This is an extension which could be done by a parse or include
  ## TODO: internationalize and use forms instead of this hardcoded layout - tryg

  #if ( $item.developers.size() > 0 )
  <div id="h3">
    <h3>Developers</h3>
    <table border="1" cellspacing="2" cellpadding="3" width="100%">
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
      #foreach ( $developer in $item.developers )
      <tr class="$css.nextClass">
        <td>${developer.name}</th>
        <td><a href="mailto:${developer.email}">${developer.email}</a></td>
      </tr>
      #end
    </table>
    #bar()
  </div>
  #end

  #if ( ( $project.checkOutException && $project.checkOutException != "" ) || ( $project.checkOutErrorMessage && $project.checkOutErrorMessage != "" ) )
  <div id="h3">
    <h3>Checkout Error</h3>
    <p>
      There was a error while checking out the project.

      #if ( $project.checkOutErrorMessage && $project.checkOutErrorMessage != "" )
      Error message: $project.checkOutErrorMessage
      #end

      #if ( $project.checkOutErrorException && $project.checkOutErrorException != "" )
      <div style="width:100%; height:500px; overflow:auto; border-style: solid; border-width: 1px"><code><pre>$project.checkOutErrorException</pre></code></div>
      #end
    </p>
  </div>
  #end

</div>
