$page.setTitle( "Continuum - Jabber Notifier" )

<div class="app">
  <div id="axial" class="h3">
    <h3>Jabber Notifier</h3>
    <div class="axial">
      <table border="1" cellspacing="2" cellpadding="3" width="100%">
        <tr class="b">
          <th>Jabber Host</th>
          <td>$notifier.configuration.host</td>
        </tr>
        <tr class="b">
          <th>Jabber Login</th>
          <td>$notifier.configuration.address</td>
        </tr>
        <tr class="b">
          <th>Jabber Password</th>
          <td>**********</td>
        </tr>
        <tr class="b">
          <th>Is Jabber Group?</th>
          <td>$notifier.configuration.isGroup</td>
        </tr>
      </table>
    </div>
    <div class="functnbar3">
      <a href="$link.setPage('ProjectNotifiers.vm').addPathInfo('view','ProjectNotifiers').addPathInfo('id',$data.parameters.getString("id"))">Back to Notifiers</a>
    </div>
  </div>
</div>