$page.setTitle( "Continuum - Project View: Continuum Web" )

#if ( $data.user )
  #set ( $c1user = $continuum.getUser( $data.user.userId ) )
#else
  #set ( $c1user = $continuum.security.getGuestUser() )
#end

<div class="app">

  #if ( $continuum.security.isAuthorized( $c1user, "showProject" ) )
  <div>
    <p style="border-top: 1px solid transparent; border-bottom: 1px solid #DFDEDE;">
      <b style="border: 1px solid #DFDEDE; padding-left: 1em; padding-right: 1em;">Info</b>
      #set ( $buildsLink = $link.setPage('ProjectBuilds.vm').addPathInfo('view', "ProjectBuilds").addPathInfo('id', $item.id) )
      <a style="border: 1px solid #DFDEDE; padding-left: 1em; padding-right: 1em; text-decoration: none;" href="$buildsLink">Builds</a>
        #if ( $item.state == 10 || $item.state == 2 || $item.state == 3 || $item.state == 4 || $item.state == 6 )
        #set ( $workingCopy = $link.setPage('WorkingCopy.vm').addPathInfo('view', "WorkingCopy").addPathInfo('id', $item.id) )
        <a style="border: 1px solid #DFDEDE; padding-left: 1em; padding-right: 1em; text-decoration: none;" href="$workingCopy">Working&nbsp;Copy</a>
      #end
    </p>
  </div>
  #end

  <div id="axial" class="h3">
    <h3>$i18n.getString( $form.view.titleKey )</h3>

    <div class="axial">
      <table border="1" cellpadding="3" cellspacing="2" width="100%">
        <tbody>
        <tr class="b">
          <th>$i18n.getString( "project.name.label" )</th>
          <td>$item.name</td>
        </tr>
        <tr class="b">
          <th>$i18n.getString( "projectScmUrl.label" )</th>
          <td>$item.scmUrl</td>
        </tr>
        <tr class="b">
          <th>$i18n.getString( "project.version.label" )</th>
          <td>$item.version</td>
        </tr>
        <tr class="b">
          <th>$i18n.getString( "project.group.label" )</th>
          <td>$item.projectGroup.name</td>
        </tr>
        </tbody>
      </table>
      #if ( $continuum.security.isAuthorized( $c1user, "editProject" ) )
      <div class="functnbar3">
        <table>
          <tbody>
          <tr>
            <td>
              <form method="post" action="$link.setPage('Edit.vm').addPathInfo('fid', "$!{item.executorId}Project").addPathInfo('id', $item.id)">
                <input type="submit" name="edit-project" value="Edit"/>
              </form>
            </td>
            <td>
              <form method="post" action="$link.addPathInfo('action', 'cam').addPathInfo('cid','buildProject').addPathInfo('id', $item.id)">
                <input type="submit" name="build-project" value="Build Now"/>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      #end
    </div>

    <h3>$i18n.getString( "project.buildDefinitions.label" )</h3>
    <table border="1" cellpadding="3" cellspacing="2" width="100%">
      <tbody>
      <tr>
        <th class="tablehead">Goals</th>
        <th class="tablehead">Arguments</th>
        <th class="tablehead">POM File</th>
        <th class="tablehead">Profile</th>
        <th class="tablehead">Schedule</th>
        <th class="tablehead">From</th>
        <th colspan="3" class="tablehead">&nbsp;</th>
      </tr>
      #foreach ( $buildDefinition in $project.buildDefinitions )
      <tr class="$css.nextClass">
        <td>$!buildDefinition.goals</td>
        <td>$!buildDefinition.arguments</td>
        <td>$!buildDefinition.buildFile</td>
        <td>
          #if ( $buildDefinition.profile )
            $buildDefinition.profile.name
          #else
            DEFAULT
          #end
        </td>
        <td>
          #if ( $buildDefinition.schedule )
            $buildDefinition.schedule.name
          #else
            NONE
          #end
        </td>
        <td>Project</td>
        <td width="1%">
          #if ( $continuum.security.isAuthorized( $c1user, "buildProject" ) )
            #set ( $buildNowLink = $link.addPathInfo('action', 'cam').addPathInfo('cid','buildProjectWithBuildDefinition').addPathInfo('id', $item.id).addPathInfo('buildDefinitionId', $buildDefinition.id) )
            <a href="$buildNowLink"><img src="$requestUtil.getContextPath()/images/buildnow.gif" alt="Build Now" title="Build Now" width="16" height="16" border="0"></a>
          #else
            <img src="$requestUtil.getContextPath()/images/buildnow_disabled.gif" alt="Build Now" title="Build Now" width="16" height="16" border="0">
          #end
        </td>
        <td width="1%">
          #if ( $continuum.security.isAuthorized( $c1user, "editBuildDefinition" ) )
            #set ( $buildDefinitionLink = $link.setPage('BuildDefinition.vm').addPathInfo('view','BuildDefinition').addPathInfo('buildDefinitionId', $buildDefinition.id).addPathInfo('id', $item.id) )
            <a href="$buildDefinitionLink"><img src="$requestUtil.getContextPath()/images/edit.gif" alt="Edit" title="Edit" width="16" height="16" border="0"></a>
          #else
            <img src="$requestUtil.getContextPath()/images/edit_disabled.gif" alt="Edit" title="Edit" width="16" height="16" border="0">
          #end
        </td>
        <td width="1%">
          #if ( $continuum.security.isAuthorized( $c1user, "deleteBuildDefinition" ) )
            #set ( $deleteBuildDefinitionLink = $link.setPage('DeleteBuildDefinition.vm').addPathInfo('buildDefinitionId', $buildDefinition.id).addPathInfo('id', $item.id).addPathInfo('executorId', $item.executorId) )
            <a href="$deleteBuildDefinitionLink"><img src="$requestUtil.getContextPath()/images/delete.gif" alt="Delete" title="Delete" width="16" height="16" border="0"></a>
          #else
            <img src="$requestUtil.getContextPath()/images/delete_disabled.gif" alt="Delete" title="Delete" width="16" height="16" border="0">
          #end
        </td>
      </tr>
      #end
      </tbody>
    </table>
    #if ( $continuum.security.isAuthorized( $c1user, "addBuildDefinition" ) )
    <div class="functnbar3">
      <table>
        <tbody>
        <tr>
          <td>
            <form method="post" action="$link.setPage('AddBuildDefinition.vm').addPathInfo('view','BuildDefinition').addPathInfo('fid', 'buildDefinition').addPathInfo('id', $item.id).addPathInfo('executorId', $item.executorId)">
              <input type="submit" name="add-build-def" value="Add"/>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    #end
    
    #if ( $project.notifiers )
    <h3>$i18n.getString( "project.notifiers.label" )</h3>
    <table border="1" cellpadding="3" cellspacing="2" width="100%">
      <tbody>
      <tr>
        <th class="tablehead">Type</th>
        <th class="tablehead">Recipient</th>
        <th class="tablehead">Events</th>
        <th class="tablehead">From</th>
        <th colspan="2" class="tablehead">&nbsp;</th>
      </tr>
      #foreach ( $notifier in $project.notifiers )
        <tr class="$css.nextClass" #if ( !$notifier.isEnabled() ) style="color: silver;" #end>
          #if ( $notifier.type == "irc" )
            <td>IRC</td>
          #elseif ( $notifier.type == "mail" )
            <td>Mail</td>
          #elseif ( $notifier.type == "msn" )
            <td>MSN</td>
          #elseif ( $notifier.type == "jabber" )
            <td>Jabber</td>
          #end
          <td>
            #if ( $notifier.type == "irc" )
              $!{notifier.configuration.host}:$!{notifier.configuration.port}$!{notifier.configuration.channel}
            #else
              $!{notifier.configuration.address}
            #end
            #if ( !$notifier.isEnabled() )
              (DISABLED)
            #end
          </td>
          <td>
            #if ( $notifier.sendOnSuccess )
              Success
            #end
            #if ( $notifier.sendOnFailure )
              Failures
            #end
            #if ( $notifier.sendOnError )
              Error
            #end
            #if ( $notifier.sendOnWarning )
              Warnings
            #end
          </td>
          <td>
            #if ( $notifier.isFromProject() )
              Project
            #else
              User
            #end
          </td>
          #if ( $notifier.isFromUser() )
            <td width="1%">
              #if ( $continuum.security.isAuthorized( $c1user, "editNotifier" ) )
                #if ( $notifier.type == "irc" )
                  #set ( $editNotifierLink = $link.setPage('EditIrcNotifier.vm').addPathInfo('view','EditIrcNotifier').addPathInfo('notifierId', $notifier.id).addPathInfo('id', $item.id).addPathInfo('executorId', $item.executorId) )
                  <a href="$editNotifierLink"><img src="$requestUtil.getContextPath()/images/edit.gif" alt="Edit" title="Edit" width="16" height="16" border="0"></a>
                #elseif ( $notifier.type == "mail" )
                  #set ( $editNotifierLink = $link.setPage('EditMailNotifier.vm').addPathInfo('view','EditMailNotifier').addPathInfo('notifierId', $notifier.id).addPathInfo('id', $item.id).addPathInfo('executorId', $item.executorId) )
                  <a href="$editNotifierLink"><img src="$requestUtil.getContextPath()/images/edit.gif" alt="Edit" title="Edit" width="16" height="16" border="0"></a>
                #elseif ( $notifier.type == "msn" )
                  #set ( $editNotifierLink = $link.setPage('EditMsnNotifier.vm').addPathInfo('view','EditMsnNotifier').addPathInfo('notifierId', $notifier.id).addPathInfo('id', $item.id).addPathInfo('executorId', $item.executorId) )
                  <a href="$editNotifierLink"><img src="$requestUtil.getContextPath()/images/edit.gif" alt="Edit" title="Edit" width="16" height="16" border="0"></a>
                #elseif ( $notifier.type == "jabber" )
                  #set ( $editNotifierLink = $link.setPage('EditJabberNotifier.vm').addPathInfo('view','EditJabberNotifier').addPathInfo('notifierId', $notifier.id).addPathInfo('id', $item.id).addPathInfo('executorId', $item.executorId) )
                  <a href="$editNotifierLink"><img src="$requestUtil.getContextPath()/images/edit.gif" alt="Edit" title="Edit" width="16" height="16" border="0"></a>
                #end
              #else
                <img src="$requestUtil.getContextPath()/images/edit_disabled.gif" alt="Edit" title="Edit" width="16" height="16" border="0">
              #end
            </td>
            <td width="1%">
              #if ( $continuum.security.isAuthorized( $c1user, "deleteNotifier" ) )
                #set ( $deleteNotifierLink = $link.setPage('DeleteNotifier.vm').addPathInfo('notifierId', $notifier.id).addPathInfo('id', $item.id).addPathInfo('executorId', $item.executorId) )
                <a href="$deleteNotifierLink"><img src="$requestUtil.getContextPath()/images/delete.gif" alt="Delete" title="Delete" width="16" height="16" border="0"></a>
              #else
                <img src="$requestUtil.getContextPath()/images/delete_disabled.gif" alt="Delete" title="Delete" width="16" height="16" border="0">
              #end
            </td>
          #else
            <td width="2%" colspan="2">&nbsp;</td>
          #end
        </tr>
      #end
      </tbody>
    </table>
    #if ( $continuum.security.isAuthorized( $c1user, "addNotifier" ) )
    <div class="functnbar3">
      <table>
        <tbody>
        <tr>
          <td>
            <form method="post" action="$link.setPage('SelectNotifier.vm').addPathInfo('id', $project.id )">
              <input type="submit" name="add-notifier" value="Add"/>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    #end
    #end

    #if ( $project.dependencies )
    <h3>$i18n.getString( "project.dependencies.label" )</h3>
    <table border="1" cellpadding="3" cellspacing="2" width="100%">
      <tbody>
      <tr>
        <th>Name</th>
      </tr>
      #foreach ( $dependency in $project.dependencies )
      <tr class="$css.nextClass">
        <td>$!{dependency.groupId}:$!{dependency.artifactId}:$!{dependency.version}</td>
      </tr>
      #end
      </tbody>
    </table>
    #end

    <!--
    <h3>$i18n.getString( "project.usedBy.label" )</h3>
    <table border="1" cellpadding="3" cellspacing="2" width="100%">
      <tbody>
      <tr>
        <th>Name</th>
      </tr>
      <tr class="b">
        <td>&nbsp;</td>
      </tr>
      </tbody>
    </table>
    -->

    #if ( $project.developers )
    <h3>$i18n.getString( "project.developers.label" )</h3>
    <table border="1" cellpadding="3" cellspacing="2" width="100%">
      <tbody>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <!-- th width="10%">&nbsp;</th -->
      </tr>
      #foreach ( $developer in $project.developers )
      <tr class="$css.nextClass">
        <td>#if ( $developer.name ) $developer.name #else $!{developer.id}#end</td>
        <td>$!{developer.email}</td>
        <!-- td>&nbsp;</td -->
      </tr>
      #end
      </tbody>
    </table>
    <!--
    <div class="functnbar3">
      <table>
        <tbody>
        <tr>
          <td>
            <form method="post" action="$link">
              <input type="submit" name="add-developer" value="Add"/>
            </form>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    -->
    #end

  </div>
</div>
