$page.setTitle( "Continuum - Working Copy of ${project.name}" )

#if ( $data.user )
  #set ( $c1user = $continuum.getUser( $data.user.userId ) )
#else
  #set ( $c1user = $continuum.security.getGuestUser() )
#end

<div class="app">

  #if ( $continuum.security.isAuthorized( $c1user, "showProject" ) )
  <div>
    <p style="border-top: 1px solid transparent; border-bottom: 1px solid #DFDEDE;">
      #set ( $infoLink = $link.setPage('View.vm').addPathInfo('fid', "$!{project.executorId}Project").addPathInfo('id', $project.id) )
      <a style="border: 1px solid #DFDEDE; padding-left: 1em; padding-right: 1em; text-decoration: none;" href="$infoLink">Info</a>
      #set ( $buildsLink = $link.setPage('ProjectBuilds.vm').addPathInfo('view', "ProjectBuilds").addPathInfo('id', $project.id) )
      <a style="border: 1px solid #DFDEDE; padding-left: 1em; padding-right: 1em; text-decoration: none;" href="$buildsLink">Builds</a>
      <b style="border: 1px solid #DFDEDE; padding-left: 1em; padding-right: 1em;">Working&nbsp;Copy</b>
    </p>
  </div>
  #end

  <h3>Working Copy of $project.name</h3>
  <!-- <p><a href="#">Delete Working Copy</a></p> -->
  #set ( $files = $continuum.getFiles( $project.id, $data.getParameters().getString( "userDirectory" ) ) )
  #set ( $baseUrl = $link.setPage('WorkingCopy.vm').addPathInfo('view', "WorkingCopy").addPathInfo('id', $project.id) )
  $workingCopy.generate( $files, $baseUrl.toString(), $continuum.getWorkingDirectory( $project.id ) )
</div>